@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>@Title</PageTitle>

<h1>Barbara's Pie Shop HRM!</h1>

<h2>Welcome!</h2>
<br />

@if (isAuthenticated)
{
    @foreach (var widgetType in Widgets)
    {
        <DynamicComponent Type="widgetType"></DynamicComponent>
    }
}
else
{
    <p>Please log in to see the widgets.</p>
}
