<div class="sidebar bg-light">
    <div class="pt-2 h-100">
        <ProfilePicture>
            <img class="img-fluid rounded-circle" src="images/barbaraProfilePic.jpg" />
        </ProfilePicture>

        <div class="menu list-group list-group-numbered pt-5">
            <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
            <AuthorizeView>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/employee-overview">
                    <span class="oi oi-people" aria-hidden="true"></span> Employees
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/leave-overview">
                    <span class="oi oi-circle-x" aria-hidden="true"></span> Leave Manage
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/payroll-overview">
                    <span class="oi oi-british-pound" aria-hidden="true"></span> Payroll
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/performance-review-overview">
                    <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Performance
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/announcement-overview">
                    <span class="oi oi-bullhorn" aria-hidden="true"></span> Announcements
                </NavLink>
                <NavLink class="list-group-item list-group-item-action bg-light" href="/settings">
                    <span class="oi oi-cog" aria-hidden="true"></span> Settings
                </NavLink>
            </AuthorizeView>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/support">
                <span class="oi oi-person" aria-hidden="true"></span> Support
            </NavLink>
        </div>
    </div>
</div>
