@page "/payroll-overview"
@attribute [Authorize]

<PageTitle>@Title</PageTitle>

<HeadContent>
    <meta name="description" content="@Description">
</HeadContent>

<h2>Payroll Overview</h2>

<NavLink class="list-group-item list-group-item-primary" href="/payroll-edit">
    <span class="oi oi-pencil" aria-hidden="true"></span> Add New Payroll
</NavLink>

<br />

@if (Payrolls == null)
{
    <p><em>Loading...</em></p>
}
else if (!Payrolls.Any())
{
    <p>No Payroll records found.</p>
}
else
{
    <div class="row">
        @foreach (var payroll in Payrolls)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-2">
                <ErrorBoundary>
                    <ChildContent>
                        <PayrollCard Payroll="payroll" PayrollEditClicked="EditPayroll" PayrollDeleteClicked="DeletePayroll"></PayrollCard>
                    </ChildContent>
                    <ErrorContent>
                        <p class="errorUI">Invalid Payroll!</p>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div>
}
